@import url('vars.css');

* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--bg);
    color: var(--text);
    height: 100%;
    margin: 0;
    font-family: var(--font);
    overflow: hidden;
}
.container {
    content: "";
    display: flex;
    clear: both;
    align-items: center;
    justify-content: center;
}
.column {
    float: left;
    width: 45%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.text {
    font-size: 2rem;
    margin-top: 12vh;
    z-index: 1000;
}
.title {
    font-weight: bold;
    font-size: 5rem;
    margin-top: 17vh;
    margin-bottom: 5%;
    color: var(--accent);
    z-index: 1000;
}
.threed {
    align-items: center;
    margin-block: center;
    float: right;
}
@media screen and (max-width: 980px) {
    .threed {
        display: none;
    }
    #settings {
        display: none;
    }
    .controls {
        display: none;
    }
    .controls:hover .popup {
        display: none;
    }
    .column {
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    .buttons {
        display: flex;
        flex-direction: column;
    }
    .controls {
        display: none;
    }
    .title {
        margin-top: 7vh;
    }
}
@media screen and (max-height: 900px) {
    .text {
        margin-top: 1vh;
    }
    .controls {
        display: none;
    }
}
.icons {
    position: absolute;
}
.icon {
    margin-top: 3%;
    margin-left: 1%;
    cursor: pointer;
}
#light {
    display: none;
}
canvas {
    border-radius: 20px;
    cursor: grab;
    margin-inline: 10px;
    z-index: 1;
}
canvas:active {
    cursor: grabbing;
}
.buttons {
    margin-top: 40px;
    display: flex;
    gap: 1rem;
}
button {
    border-radius: 10px;
    border: none;
    color: var(--text);
    padding: 15px 20px 15px 20px;
    font-size: 1.7rem;
    cursor: pointer;
}
#about {
    background-color: var(--primary);
}
#contact {
    background-color: var(--secondary);
}
.controls {
    display: block;
    background-color: var(--bg);
    padding: 10px 20px 10px 10px;
    text-align: right;
    position: absolute;
    display: inline-block;
    font-size: 2rem;
    right: 0;
    bottom: 0;
    cursor: pointer;
    border-top-left-radius: 10px;
    z-index: 100000;
}
.popup {
    display: none;
    position: absolute;
    background-color: var(--bg);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(255, 132, 0, 0.3);
    padding: 12px 16px;
    z-index: 1;
    bottom: 60px;
    right: 10px;
    border-radius: 10px;
}
.controls:hover .popup {
    display: block;
}
input {
    font-size: 25px;
    width: 2ch;
    border: none;
}
input:focus {
    outline: none;
}

/* Projects */

body.scroll {
    overflow: scroll;
}

h1.proj {
    font-weight: bold;
    font-size: 3rem;
    color: var(--accent);
    z-index: 1000;
    margin-inline: 20px;
    position: fixed;
    width: 100%;
    margin-top: 0;
    padding: 10px;
    background-color: var(--bg);
}

.pcontainer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-inline: 10px;
    padding-bottom: 100px;
    justify-content: center;
    overflow: scroll;
    margin-top: 110px;
}
.pbox {
    background-color: #ffdbb1;
    padding: 20px;
    border-radius: 10px;
    height: 350px;
    aspect-ratio: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pimage {
    border-radius: 10000px;
    align-items: center;
}
.noround {
    border-radius: 0px;
}
.ptitle {
    font-size: 1.3rem;
}