@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&family=Source+Code+Pro:wght@300;800&display=swap');
@font-face {
    font-family: 'Minecraft';
    src: url('assets/minecraft.woff2') format('woff2');
}
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body[data-theme='light'] {
    --code: 'Source Code Pro';
    --font: "Rethink Sans";
    --text: #1d1812;
    --bg: #FFFDFB;
    --primary: #ff9c27;
    --secondary: #8dcfcf;
    --accent: #FF8400;
}
body[data-theme='dark'] {
    --code: 'Source Code Pro';
    --font: "Rethink Sans";
    --text: #FEFDFB;
    --bg: #212225;
    --primary: #eb7f00;
    --secondary: #398186;
    --accent: #FF8400;
}