@import url('vars.css');

* {
    box-sizing: border-box;
    transition: background-color 0.4s ease, color 0s ease;
}

html, body {
    background-color: var(--bg);
    color: var(--text);
    height: 100%;
    margin: 0;
    font-family: var(--font);
    
}

section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 60%;
    height: 65%;
    background-color: #fff;
    border: 2px solid var(--accent);
    border-radius: 10px;
    text-align: center;
    background-color: var(--bg);
}

h1 {
   font-weight: bold; 
   font-size: 4em;
   margin-top: 10%;
}

h2 {
    font-weight: normal; 
    font-size: 2em;
}
.buttons {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
button {
    bottom: 0;
    right: 0;
    margin: 2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #fff;
    color: var(--text);
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}
#github {
    background-color: var(--secondary);
}
#theme {
    background-color: var(--primary);
}
a {
    color: var(--text);
    text-decoration: none;
}